@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

#join {
    font-family: 'Karla';
    color: hsl(179, 62%, 43%);
}

#join2 {
    font-family: 'Karla';
    color: hsl(71, 73%, 54%);
}

#join3 {
    font-family: 'Karla';
    color: hsl(218, 22%, 67%);
}

